.winner {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}
.result {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 14pt;
}
section {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}
section.player1 {
  border-right: none;
}
section > div {
  padding-top: 3px;
  border-top: 1px solid black;
}
